
<p id="notice"><%= notice %></p>

<div>

  <h2>Welcome <%= @user.first_name  %> <%= @user.last_name %></h2>

</div>


<%= link_to 'Logout', logout_path, method: :delete, :class => 'btn btn-default logout-btn custom_logout'%>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
<%= link_to 'Post Concert', new_concert_path %> |
