<section id="about_us">
  <!-- Site Overlay -->
  <div class="site-overlay"></div>

  <!-- Hero image -->
  <div class="container-fluid hero2_container">
    <div class="overlay">
      <div class="menu-btn visible-sm visible-xs col-xs-offset-10">&#9776;</div>
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">OUR TEAM</h1>
        <h3 class="text-center">Meet the team that created it all.</h3>
      </div>
    </div>
  </div>


  <div class="container intro_container">

      <div class="col-md-6">
        <div class="about_intro">
          <h2 class="text-left">About the Company</h2>
          <p class="text-left">Kinfolk paleo meditation authentic, YOLO bitters meh tofu franzen. Squid crucifix organic brunch, salvia cray wayfarers narwhal cold-pressed roof party pork belly gastropub ethical thundercats you probably haven't heard of them. Irony you probably haven't heard of them mustache 3 wolf moon mixtape, blog tattooed truffaut marfa franzen occupy trust fund.</p>
          <p class="text-left">Kombucha shoreditch kale chips everyday carry flexitarian offal, mixtape VHS food truck pug hammock authentic affogato readymade occupy. Wolf gentrify vinyl jean shorts twee salvia. Gochujang bushwick yuccie taxidermy keytar, ennui direct trade vice mustache poutine.</p>

        </div>
      </div>
      <div class="col-md-6">
        <%= image_tag("mobile-experience.svg", :alt => "Mobile Experience", :class => "img-responsive center-block intro_img") %>
      </div>

  </div>

  <div class="container-fluid about_masked">
    <div class="overlay">
      <div class="row  hidden-xs hidden-sm">
        <div class="col-md-6">
          <%= image_tag("ga-logo.png", :alt => "General Assembly", :class => "img-responsive center-block mid_img") %>
        </div>
        <div class="col-md-6">
          <h2 class="text-left">Our GA Story</h2>
          <p class="text-left">Kinfolk paleo meditation authentic, YOLO bitters meh tofu franzen. Squid crucifix organic brunch, salvia cray wayfarers narwhal cold-pressed roof party pork belly gastropub ethical thundercats you probably haven't heard of them. Irony you probably haven't heard of them mustache 3 wolf moon mixtape, blog tattooed truffaut marfa franzen occupy trust fund. Kombucha shoreditch kale chips everyday carry flexitarian offal, mixtape VHS food truck pug hammock authentic affogato readymade occupy. </p>
        </div>
      </div>
      <div class="col-xs-12 visible-xs visible-sm">
        <h2 class="text-center">Our GA Story</h2>
        <p class="text-center">Kinfolk paleo meditation authentic, YOLO bitters meh tofu franzen. Squid crucifix organic brunch, salvia cray wayfarers narwhal cold-pressed roof party pork belly gastropub ethical thundercats you probably haven't heard of them. Irony you probably haven't heard of them mustache 3 wolf moon mixtape, blog tattooed truffaut marfa franzen occupy trust fund. Kombucha shoreditch kale chips everyday carry flexitarian offal, mixtape VHS food truck pug hammock authentic affogato readymade occupy. </p>
      </div>
    </div>
  </div>

  <div class="container">
      <div class="row">
          <div class="col-xs-12 meet_intro_title">
            <h2 class="text-center">Meet The Team</h2>
            <p class="text-center">Our team consists of dreamers, designers, and builders. We work hard and play hard the Colorado way. We bring our passion to work and collaborate in building this really cool app!</p>
          </div>
      </div>
  </div>

  <div class="container">
      <div class="col-md-12">
          <div class="col-md-4 team_member_container">
            <div class="overlay">
              <div class="col-md-12 team_info">
                <h2 class="text-center">Kayce Danna</h2>
                <p class="text-center">Rails Developer</p>
              </div>
            </div>
            <%= image_tag("kayce.jpg", :alt => "Kayce Danna", :class => "img-responsive center-block team_member") %>
          </div>
          <div class="col-md-4 team_member_container">
            <div class="overlay">
              <div class="col-md-12 team_info">
                <h2 class="text-center">Kyle Gibbons</h2>
                <p class="text-center">Rails Developer</p>
              </div>
            </div>
            <%= image_tag("kyle.jpg", :alt => "Kyle Gibbons", :class => "img-responsive center-block team_member") %>
          </div>
          <div class="col-md-4 team_member_container">
            <div class="overlay">
              <div class="col-md-12 team_info">
                <h2 class="text-center">Luis Metzger</h2>
                <p class="text-center">Rails Developer</p>
              </div>
            </div>
            <%= image_tag("luis.jpg", :alt => "Luis Metzger", :class => "img-responsive center-block team_member") %>
          </div>
      </div>
  </div>

  <div class="container-fluid testimonial">
      <div class="col-md-4 col-md-offset-4">
        <%= image_tag("charlie_sheen.jpg", :alt => "Mike Tyson", :class => "img-circle center-block test_img") %>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <blockquote cite="Charlie Sheen">
          Playback is a knockout! The platform makes everything a breeze and I'm always impressed with their customer service.
          <cite class="col-md-4 col-md-offset-6">- Charlie Sheen</cite>
        </blockquote>
      </div>
  </div>

</section>
