<div class="container">

  <%= form_for(concert, html: { multipart: true })   do |f| %>

    <div class="field">
      <%= f.label :date %>
      <%= f.date_field :date %>
    </div>
    <div class="field">
      <%= f.label :band %>
      <%= f.text_field :band %>
    </div>
    <div class="field">
      <%= f.label :venue%>
      <%= f.text_field :venue %>
    </div>
    <div class="field">
      <%= f.label :notes %>
      <%= f.text_area :notes %>
    </div>
     <div class="field">
      <%= f.text_field :user_id, :value => session[:user_id], :type=>"hidden" %>
    </div>
    
      <%= fields_for @paperclip_image do |image| %>
        <div class="form-group"> 
            <%= image.label :asset %>
            <%= image.file_field :asset, html: { class: 'form-control'} %>
          <% if image.object.asset? %>
          <br />
            <%= image_tag(image.object.asset.url(:small)) %><br />
          <em>Currently uploaded image</em> 
        <%end%>
        </div>
      <% end %>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

</div>
